<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>You got a new order from <%= @email %>!</p>
    <p>
    Order details<br>
    --------------------------
    </p>
    <p>Product Ids: <%= @product_ids %></p>
    <p>
    Message:<br>
    ----------

  </body>
</html>