/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
body {
  margin: 0;
  text-align: center;
  background-color: #272727;
  color: #cccccc;
  font-family: 'Ubuntu', sans-serif;
}
a {
  text-decoration: none
}
a:hover {
  text-decoration: none
}
.top{
  z-index: 1;
  background: #272727;
  width: 100%;
  position:fixed;
  top:0;
  height:20%;
  /*background: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,1));*/
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+50,000000+100&1+50,0+100 */
  background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 25%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,1) 25%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,1) 25%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}
.top img{
  height: 80px;
  padding: 20px 0 10px 0;
}
.horizontal-accordion {
  position: absolute;
  width: 100%;
  height:100%;
  padding: 0;
}
.horizontal-accordion ul {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 0;
  margin: 0 auto;
  padding:0;
}
.horizontal-accordion ul li {
  width: 33.333%;
  height: 100%;
  display: inline-block;
  font-size: 12px;
  line-height: 100px;
  cursor: pointer;
  transition: width 0.75s;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover; /*REMOVE TO GET RID OF EXPANSION*/
  display: table;
  float:left;
}
.horizontal-accordion ul li:first-of-type {
  background-image: url('/assets/Champmini.jpg')
}
.horizontal-accordion ul li:nth-of-type(2) {
  background-image: url('/assets/Michael.jpg')
}
.horizontal-accordion ul li:nth-of-type(3) {
  background-image: url('/assets/Shop.jpg')
}
.horizontal-accordion ul li.js-active-accordion {
  width: 70%;
}
.horizontal-accordion ul li a {
  height:100%;
  width:100%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color:#FFF;
  font-size: 2.75em;
  line-height: 1.25em;
}
.horizontal-accordion ul li a:hover span {
  opacity: 0;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}
.vertical-accordion {
  display: none;
  position: absolute;
  width: 100%;
  height:100%;
  padding: 0;
}
.vertical-accordion ul {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 0;
  margin: 0 auto;
  padding:0;
}
.vertical-accordion ul li {
  height: 33%;
  width: 100%;
  font-size: 12px;
  line-height: 100px;
  cursor: pointer;
  transition: width 0.75s;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover; /*REMOVE TO GET RID OF EXPANSION*/
  display: table;
  float:left;
}
.vertical-accordion ul li:first-of-type {
  background-image: url('/assets/Champmini.jpg')
}
.vertical-accordion ul li:nth-of-type(2) {
  background-image: url('/assets/Michael.jpg')
}
.vertical-accordion ul li:nth-of-type(3) {
  background-image: url('/assets/Shop.jpg')
}
.vertical-accordion ul li a {
  height:100%;
  width:100%;
  display: table-cell;
  vertical-align: bottom;
  text-align: left;
  color:#FFF;
  font-size: 2.75em;
  line-height: 1.25em;
  padding: 0 0 50px 30px;
}
.vertical-accordion ul li a span {
  border:solid 1px #FFF;
  background: #272727;
  padding:15px;
}
.bottom{
  z-index: 1;
  color:#FFF;
  background: #272727;
  width:100%;
  position:fixed;
  bottom:0;
  height:10%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+50,000000+100&0+0,1+50 */
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 75%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 75%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 75%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
  display: table;
}
.bottom .content{
  display: table-cell;
  text-align: center;
  font-size: 2em;
  vertical-align: bottom;
  padding-bottom:2%;
}
@media only screen and (max-width: 1080px) {
  .top{ /* FF3.6-15 */
    height:10%;
    background: -webkit-linear-gradient(rgba(0,0,0,1) 0%, rgba(0,0,0,1) 25%, rgba(0,0,0,0) 50%);
    background: -o-linear-gradient(rgba(0,0,0,1) 0%, rgba(0,0,0,1) 25%, rgba(0,0,0,0) 50%);
    background: linear-gradient(rgba(0,0,0,1) 0%, rgba(0,0,0,1) 25%, rgba(0,0,0,0) 50%); /* Chrome10-25,Safari5.1-6 */
  }
  .top img{display: none;}
  .horizontal-accordion ul li a {vertical-align:bottom;padding-bottom: 100%;}
  .vertical-accordion ul li:first-of-type{}
  .bottom{display: none;}
  .horizontal-accordion{display:none;}
  .vertical-accordion{display:block;}
}
.container {
  padding-right: 0;
  padding-left: 0;
}
.card {
  height: 28rem;
  margin-bottom: 15px;
}
.card-img {
  height: 250px;
}
.card-text {
  margin: 5px 0 15px;
  text-align: justify;
}
.card-button {
  position: absolute;
  bottom: 15px;
}
.login-block{
  background: black;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, black,#666161);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, black,#666161); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  float:left;
  width:100%;
  padding : 0 0;
}
.container-login{
  background-image: url('/assets/banner.jpg');
  background-size: cover;
  border-radius: 40px;
  box-shadow:15px 20px 0px rgba(0,0,0,0.1);
  padding: 5%;
  margin: 5%;
}
.container-login-form{
  background:white;
  border-radius: 40px;
  box-shadow:15px 20px 0px rgba(0,0,0,0.1);
  padding: 20px;
}
.login-sec h2{
  margin-bottom:30px;
  font-weight:800;
  font-size:30px;
  color: black;
}
.btn-login{
  background:#666161;
  color: #FFFFFF;
  font-weight:600;
}
