@import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,400italic");
@import url("//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css");

.event-list {
  list-style: none;
  font-family: 'Lato', sans-serif;
  margin: 0px;
  padding: 0px;
}
.event-list > li {
  margin: 0px 0px 20px;
}
.event-list > li > .date {
  width: 100%;
  color: white;
  background-color: #4797c5;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
}
.event-list > li:nth-child(even) > .date {
  background-color: #26519e;
}
.event-list > li > .date > .day,
.event-list > li > .date > .month {
  font-size: 30pt;
  font-weight: 200;
  line-height: 1;
}
.event-list > li > .video {
  width: 100%;
  height: 400px;
}
.event-list > li > .info {
  background-color: rgb(245, 245, 245);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 400px;
  color: white;
  padding-top: 5px;
  text-align: center;
}
.event-list > li > .info > .title {
  font-size: 17pt;
  font-weight: 700;
  margin: 0px;
}
.event-list > li > .info > .desc {
  font-size: 13pt;
  font-weight: 400;
  margin: 0px;
}
.event-list > li > .info > ul {
  display: table;
  list-style: none;
  padding: 0px;
  width: 100%;
}
.event-list > li > .info > ul > li {
  display: table-cell;
  cursor: pointer;
  color: rgb(30, 30, 30);
  font-size: 11pt;
  font-weight: 300;
  padding: 3px 5px;
  background-color: rgb(200, 200, 200);
}

@media (min-width: 768px) {
  .event-list > li {
    position: relative;
    display: inline-flex;
    width: 100%;
    height: 200px;
    padding: 0px;
  }
  .event-list > li > .date {
    float: left;
    width: 15%;
  }
  .event-list > li > .date > .day {
    display: block;
    font-size: 50pt;
    font-weight: 100;
    line-height: 1;
  }
  .event-list > li > .date > .month {
    display: block;
    font-size: 30pt;
    font-weight: 200;
    line-height: 1;
  }
  .event-list > li > .video {
    float: right;
    width: 30%;
    height: auto;
  }
  .event-list > li > .info {
    text-align: left;
    width: 55%;
    height: auto;
  }
  .event-list > li > .info > .title,
  .event-list > li > .info > .desc {
    padding: 0px 10px;
  }
  .event-list > li > .info > ul {
    position: absolute;
    text-align: center;
    left: 0px;
    bottom: 0px;
  }
}